html{
    height: 100%;
    overflow-x:hidden;
}
body{
    /*width: 100%;浏览器会默认宽度为100%*/
    height: 100%;
    margin: 0;
    background-color: #eff0f1;
}
.header{
    height: 10%;
    background-color:#6dd2e9 ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    margin-bottom: 1rem;
}
.parent{
    display: -webkit-box;
    -webkit-box-pack: center;
    height: 80%;

}
.content{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width:98%;
    background-color: #eff0f1;

    /*background-color: white;*/
    -webkit-box-pack: center;  /*实现容器内容垂直居中*/
    -webkit-box-align: center; /* 实现容器内的内容水平居中*/
    -moz-box-pack: center;

}
.title{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-flex:0.5;

    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    margin-bottom: 1rem;
    background-color: white;
}
.assign{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: baseline;
    -webkit-box-flex:3;
    width: 100%;
    margin-bottom: 1rem;

    background-color: white;
}
.roles{
 width:50%;
    margin-left: 2%;
}
.givenname{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-flex:1;
    width: 100%;

    margin-bottom: 1rem;
    background-color: white;
}
.number{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-flex:1;
    width: 100%;

    margin-bottom: 1rem;
    background-color: white;
}
.deal{
    height: 8%;
    width: 98%;
    background-color: #ffa600;
    border: none;
    margin-left: 1%;
    color: white;
    font-size: 3rem;
}