/*不管为哪个元素应用什么颜色，都要同时给它一个背景色，否则，就有可能发生一些意外导致看不到某些文本*/
body{
    background-color: #f0f0f0;
}
.header{
    color:white;
    background-color:#29bde0 ;
}
.childheader{
    color:white;
    background-color:#29bde0 ;
}
.nav{
    background: white;
}
.lastgame{
    color:#9a9a9a;
    border-color:#9d9d9d;
    background-color: white;
}
.versions{
    border-color:#9d9d9d;
    background-color: white;
}
.gameTitle{
    color: #fbb435;
    background-color: white;
}
.versionname{
    color: #FFFFFF;
    background-color:#69d1e9 ;
}
.count{
    color:#787878;
}
.circle{
    background-color: #f0f0f0;
}
.defaultSelected{
    background-color:#69d1e9 ;
}


/*以下是玩家分配样式*/

.playerAssign{
    background-color: white;
}
.assign{
    background-color: white;
}
.givenname{
    background-color: white;
}
.number{
    background-color: white;
}
.deal{
    color: white;
    background-color: #fbb435;
}
.content{
    /*background-color: #29bde0;*/
}
.rolepanelCenter{
    background-color: #29bde0;
}
.rolepanel{

}
.shift{
    color:white;
    background-color: #ffedc5;
}
.showRole{
    background-color: #29bde0;
}
.checkout{
    color:white;
    background-color: #fbb435;
}

.passRole{
    color:white;
    background-color: #fbb435;
}
.countRestrict{
    color:#fbb435;
    background-color: white;
}
.playerCount{
    color:#fbb435;
    background-color: #eff0f1;
}
.numberplate{
    border-color:#ffedc5;
    background-color: white;
    color:red;
}